

.dialogContainer{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.50);
    z-index: 999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    backdrop-filter: blur(4px);
}

.dialogContent{
    background: var(--dark-700);
    padding: 16px;
    margin: auto;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    position: relative;
    color: var(--white);

    h2{
        margin-bottom: 16px;
        margin-top: 8px;
    }



}

.table{

    background-color: var(--dark-900);
    padding: 8px;
    border-radius: 4px;
}

.dialogBack{
    background: none;
    border: 0;
}

.item{

    display: flex;
    flex-direction: column;
    margin: 16px 0;
    font-size: 16px;

}

.description{
    color: #ccc;
    margin-top: 4px;
}

.buttonFimOrder{
    background-color: var(--green-900);
    padding: 9px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
}